
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




.inter{
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px 
}

*{
  box-sizing: border-box;
}

.contaner{

   min-width: 1140px;
   margin: 0px auto;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 1140px;
  margin: 0px auto;
   
}

.nav-item ul{
  display: flex;
  list-style: none;
  gap: 45px;
  
}

.nav-item li a{
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.nav-list{
  color: rgb(137, 135, 161);
}


.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0px auto;
}

.banner img{
  width: 570px;
  height: 355px;
}

.banner h2{
  width: 570px;
  font-size: 4rem;
  text-align: left;
}

.banner p{
  width: 400px;
  font-size: 1.375rem;
  text-align: left;

  color: rgba(0, 0, 0, 0.5)
}

.banner-tittle1{
  color: rgb(0, 0, 0);
}

.banner-tittle2{
  color: rgb(233, 90, 8);
}

h3{
align-items: center;
text-align: center;

}

 p{
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.lily{
display: flex;
justify-content: center;
gap: 5px;
margin-top: 30px;
}

.lily-tittle{
  width: 132px;
  align-items: center;
  text-align: center;
  margin: auto;

}
.btn-primari{
width: 270px;
height: 50px;
align-items: center;
text-align: center;
margin: auto;
background-color: rgb(233, 90, 8);
color: rgb(255, 255, 255);
border: none;

}

.box{

  display: flex;
  flex-direction: row;
 justify-content: space-between;
  gap: 60px;
  width: 1140px;
  height: 597px;
  align-items: center;
  text-align: center;

  margin: 150px auto;
  position: relative;
}

.box-tittle img{

width: 300px;
position: absolute;
left: 35%;
top: -20%;


}




.box h4{

  font-weight: bold;
  width: 540px;
  height: 80px;
}

.image-container{
  position: relative;
  display: inline-block;
}

.image-container img{
  width: 100%;
  height: 423px;
  border-radius: 8px;
}
.text-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 1140px;
  margin: auto;
}


/* resposive meadia quairy */
@media screen and (max-width: 576px) {
   .navbar{
    flex-direction: column; 
   }
  
  
  .banner{
    flex-direction: column;
  }
  .lily{
    flex-direction: column-reverse;
  }


}

